body {
    background-color:mediumpurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 20%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid rgb(126, 14, 201); 
    border-radius: 5%;
    display: block;
    margin: auto;
}

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: rgb(126, 14, 201);
    text-align: center;
}

.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
    color: black;
}

.about
{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about img
{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201)
}

.about p
{
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
